<form autocomplete="off" onsubmit="event.preventDefault()">
    

    <style>
        table, th, td {
          border: 1px solid black;
        }
        canvas {
            border: 2px solid rgb(151, 149, 149);
        }
    </style>
    <script>

        //Drawing IR point canvas
        var stage = document.getElementById('stage');
        if(stage.getContext) {
            var ctx = stage.getContext('2d');
        }
        ctx.fillStyle = '#FF0000';
        
        if ({{x0}} > 0 && {{x0}} < 1023) {
            ctx.beginPath();
            ctx.arc({{x0}}/1023*250,{{y0}}/1023*250,3,0,2*Math.PI,false);
            ctx.fill();
        }
        if ({{x1}} > 0 && {{x1}} < 1023) {
            ctx.beginPath();
            ctx.arc({{x1}}/1023*250,{{y1}}/1023*250,3,0,2*Math.PI,false);
            ctx.fill();
        }
        if ({{x2}} > 0 && {{x2}} < 1023) {
            ctx.beginPath();
            ctx.arc({{x2}}/1023*250,{{y2}}/1023*250,3,0,2*Math.PI,false);
            ctx.fill();
        }
        if ({{x3}} > 0 && {{x3}} < 1023) {
            ctx.beginPath();
            ctx.arc({{x3}}/1023*250,{{y3}}/1023*250,3,0,2*Math.PI,false);
            ctx.fill();
        }
    </script>
    </head>
    <h2>{{localize "MaterialPlane.CalSett.Coordinates"}}</h2>
     <div class="form-group options">
        <body>     
            <table style="float:right;text-align:center">
            <tr>
                <th style="width:30px">{{localize "MaterialPlane.CalSett.Point"}}</th>
                <th style="width:30px">X</th>
                <th style="width:30px">Y</th> 
                <th style="width:30px">{{localize "MaterialPlane.CalSett.Intensity"}}</th>
            </tr>
            <tr>
                <td>0</td>
                <td>{{x0}}</td>
                <td>{{y0}}</td>
                <td>{{i0}}</td>
            </tr>
            <tr>
                <td>1</td>
                <td>{{x1}}</td>
                <td>{{y1}}</td>
                <td>{{i1}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{x2}}</td>
                <td>{{y2}}</td>
                <td>{{i2}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{x3}}</td>
                <td>{{y3}}</td>
                <td>{{i3}}</td>
            </tr>
            </table>

            <canvas id="stage" height="250" width="250"></canvas>
	</div>

    <h2>{{localize "MaterialPlane.CalSett.Settings"}}</h2>

    <div class="form-group options" title="MirrorX">
        <label>{{localize "MaterialPlane.CalSett.MirrorX"}}</label>
        <input type="checkbox" name="mirX" {{checked mirrorX}}>
    </div>
    <div class="form-group options" title="MirrorY">
        <label>{{localize "MaterialPlane.CalSett.MirrorY"}}</label>
        <input type="checkbox" name="mirY" {{checked mirrorY}}>
    </div>
    <div class="form-group options" title="Rot">
        <label>{{localize "MaterialPlane.CalSett.Rotation"}}</label>
        <input type="checkbox" name="rot" {{checked rotation}}>
    </div>
    <div class="form-group options" style="display:flex">
        <label style="flex:7">{{localize "MaterialPlane.CalSett.Sensitivity"}}</label>
        <input style="flex:2" type="number" min="1" max="5" value={{sens}} name="sens">
    </div>
    <div class="form-group options" style="display:flex">
        <label style="flex:7">{{localize "MaterialPlane.CalSett.XComp"}}</label>
        <input style="flex:2" type="number" min="-128" max="127" value={{compX}} name="compX">
    </div>
    <div class="form-group options" style="display:flex">
        <label style="flex:7">{{localize "MaterialPlane.CalSett.YComp"}}</label>
        <input style="flex:2" type="number" min="-128" max="127" value={{compY}} name="compY">
    </div>
    <h2>{{localize "MaterialPlane.CalSett.Calibration"}}</h2>  
    <div class="form-group options" title="Cal">
        <label>{{localize "MaterialPlane.CalSett.Calibration"}}</label>
        <input type="checkbox" name="cal" {{checked cal}}>
    </div>
    <div class="form-group options" title="Offset">
        <label>{{localize "MaterialPlane.CalSett.Offset"}}</label>
        <input type="checkbox" name="offset" {{checked offset}}>
    </div>

    <div class="form-group">
        <label for="CalibrationMethod">{{localize "MaterialPlane.CalSett.CalMethod"}}:</label>
        <select name="calMethod" id="action">
            <option value="SinglePoint">{{localize "MaterialPlane.CalSett.CalMethod0"}}</option>
            <option value="MultiPoint">{{localize "MaterialPlane.CalSett.CalMethod1"}}</option>
            <option value="Offset">{{localize "MaterialPlane.CalSett.CalMethod2"}}</option>
        </select> 

        <button name="calBtn" type="button">
            <i></i> {{localize "MaterialPlane.CalSett.CalBtn"}}
        </button>
    </div>
   
    <button type="submit" name="submit">
        {{localize "MaterialPlane.CalSett.Exit"}}
    </button>
</form>

